.FEPcontainer{
  margin: 0;
  display: flex;
  flex-flow: column;


}
.FEPprogress {
  width: 300px;
  height: 30px;
  background-color: #6e6f72;
  border: 1px solid wheat;
  margin-left: 120px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
  display: flex;
  cursor: pointer;
  
}

.FEPprogressInfo {
  width: 300px;
  height: 20px;
  background-color: #65666b;
  border: 1px solid wheat;
  margin-top: 10px;
  margin-left: 120px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
}

.FEPinput{
  position: absolute;
}

.FEPprogressInfo>p{
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  
}


