nav {
    background-color: #333; /* Kolor tła paska nawigacyjnego */
    padding: 10px;
    border-bottom: 1px solid wheat;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 20px;
    color: wheat; /* Kolor tekstu */
    cursor: pointer;
    transition: color 0.3s ease-in-out; /* Płynna zmiana koloru tekstu */
    margin-left: 150px;
    font-size: 20px;
  }
  
  li:hover {
    color: #ff9900; /* Kolor tekstu po najechaniu myszką */
  }
  
  /* Styl dla zaznaczonego przycisku "Przepisy" */
  .highlighted {
    background-color: #ff9900; /* Kolor tła dla zaznaczonego przycisku */
    color: #333; /* Kolor tekstu dla zaznaczonego przycisku */
    border-radius: 5px; /* Zaokrąglenie narożników */
    padding: 5px 10px; /* Dodatkowy padding dla lepszego wyglądu */
  }




